* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100vh;
    font-family: Poppins;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
}

header, footer {
    font-family: Nunito;
}

button {
    cursor: pointer;
    border: 0;
    background: #0037D4;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

button:hover {
    transition: .4s;
    background: #0738be;
}

header {
    background-color: #fff;
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 85px;
    
    max-width: 1200px;
    margin: 0 auto;
}

header .logo h1 {
    color: #0037D4;
    cursor: pointer;
    font-size: 3.6rem;
}

header nav ul {
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a {
    cursor: pointer;
    padding: 1rem 2.4rem;
    font-weight: 600;

    font-size: 2rem;
}

header nav ul li a:hover {
    background-color: #e7e7e7;
    transition: .5s;
}

header .buttons {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header .buttons li {
    list-style: none;
    font-size: 2rem;
    font-weight: 600;

    cursor: pointer;
}

header .buttons button {
    padding: 1.2rem 2rem;
    font-size: 1.8rem;

    box-shadow: none;
}

#text-main {
    background-color: #FFEDE9;
}

#text-main .content {

    padding-top: 3.8rem;

    display: flex;
    align-items: center;

    margin: 0 auto;
    max-width: 1200px;
} 

#text-main .content h1 {
    font-size: 5.6rem;
}

#text-main .content h3 {
    margin-top: 1.2rem;
    font-size: 2.6rem;
    
    font-weight: 500;
    color: #9D9497;
}

#text-main .content button {
    padding: 1.8rem 2.4rem;
    margin-top: 1.6rem;

    display: flex;
    align-items: center;

    font-size: 2.2rem;
    gap: 1.6rem;
}

.img {
    width: 50rem;
}

#companys{
    margin: 3.2rem;
    text-align: center;
}

#companys h1{
    font-size: 4.2rem;
    font-weight: 600;
}

#companys div{
    display: flex;
    align-items: flex-start;
    gap: 4.6rem;

    justify-content: center;

    margin-top: 2.6rem;
}

#instructors {
    background-color: #f8f8f8;
    padding: 6.4rem 0;
}

#instructors .content{
    display: flex;
    align-items: center;
    max-width: 1200px;

    margin: 0 auto;

    gap: 3.6rem;
}

#instructors h1 {
    font-size: 3.8rem;
}

#instructors h3 {
    font-size: 2.2rem;
    font-weight: 500;

    margin: 1.6rem 0;

    color: #9D9497;
}

#instructors button {
    padding: 2rem 2.6rem;
    display: flex;
    align-items: center;

    font-size: 2rem;
    gap: 1.2rem;
}







