header {
    background-color: #fff;
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 85px;
    
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

header .logo h1 {
    color: #0037D4;
    cursor: pointer;
    font-size: 3.6rem;
}

header nav ul {
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a {
    cursor: pointer;
    padding: 1rem 2.4rem;
    font-weight: 600;

    font-size: 2.4rem;
}

header nav ul li a:hover {
    background-color: #e7e7e7;
    transition: .5s;
}

header .buttons {
    display: flex;
    align-items: center;
}

header .buttons li {
    list-style: none;
    font-size: 2rem;
    font-weight: 600;

    cursor: pointer;
}

header .buttons button {
    padding: 1.2rem 2rem;
    font-size: 1.8rem;

    box-shadow: none;

    margin-left: 3rem;
}

#text-main {
    background-color: #FFEDE9;
}

#text-main .content {

    padding-top: 3.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
} 

#text-main .content h1 {
    font-size: 5.6rem;
}

#text-main .content h2 {
    margin-top: 1.2rem;
    font-size: 2.6rem;
}

#text-main .content button {
    padding: 1.8rem 2.4rem;
    margin-top: 1.6rem;

    display: flex;
    align-items: center;

    font-size: 2.2rem;
    gap: 1.6rem;
}

.img-model {
    width: 50rem;
    margin-bottom: -5px;
    height: auto;
}

#instructors {
    background-color: #f8f8f8;
    padding: 6.4rem 0;
}

#instructors .content{
    display: flex;
    align-items: center;

    width: 90%;
    max-width: 1300px;

    margin: 0 auto;

    gap: 6.4rem;
}

#instructors h1 {
    font-size: 3.8rem;
}

#instructors h2 {
    font-size: 2.2rem;
    margin: 2.2rem 0;
}

#instructors .img-instructor {
    width: 60rem;
}

#instructors button {
    padding: 2rem 2.6rem;
    display: flex;
    align-items: center;

    font-size: 2rem;
    gap: 1.2rem;
}

#popular-courses {
    padding: 6.4rem 0;
}

#popular-courses .content {

    width: 90%;
    margin: 0 auto;
    max-width: 1300px;

}

#popular-courses .header-popularCourses h1 {
    font-size: 4rem;
}

#popular-courses .header-popularCourses h2 {
    font-size: 2.4rem;
    margin-top: 1.2rem;
    max-width: 500px;
}

#popular-courses .header-popularCourses  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popular-courses .header-popularCourses p {
    font-size: 2.6rem;
    font-weight: 500;
    color: #0037D4;
}

#popular-courses .header-popularCourses p:hover {
    text-decoration: underline;
    cursor: pointer;
}

#popular-courses main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2.4rem;
    margin-top: 6.4rem;
}


#popular-courses main .box img {
    max-width: 100%;
    display: block;
    cursor: pointer;

    object-fit: cover;
}

 #bonus {
     padding: 6.4rem 0;
     background: #f8f8f8;
 }

#bonus .content {
    width: 90%;
    max-width: 1300px;

    margin: 0 auto;

    display: grid;
    grid-gap: 6.4rem;
    grid-template-areas: "texts bonus";
}

#bonus .content .column-texts h1 {
    font-size: 5rem;
}

#bonus .content .column-texts h2 {
    font-size: 2.6rem;
    margin: 1.6rem 0;
}

#bonus .content .column-texts button {
    padding: 2rem 2.6rem;
    font-size: 2.2rem;
    display: flex;
    align-items: center;

    gap: 1.6rem;
}

#bonus .content .bonus {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 4.8rem;
}

#bonus .content .bonus img {
    width: 7rem;
}

#bonus .content .bonus h2 {
    margin: 0.8rem 0 1.2rem 0;
}

#newsletter {
    padding: 6.4rem 1.2rem;
    background-color: #FFEDE9;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#newsletter h1{
    font-size: 4.8rem;
}

#newsletter h2 {
    font-size: 2.6rem;
    max-width: 500px;
    margin: 2.4rem;
}

#newsletter .newsletter {
    background: #fff;

    display: flex;
    justify-content: space-between;

    width: 35%;
    height: 7rem;

    padding-left: 2rem;

    margin: 0 auto;

    border-radius: 0.8rem;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

#newsletter .newsletter input{
    font-size: 1.8rem;

    font-family: Poppins;
    font-weight: 500;

    width: 65%;
}

#newsletter .newsletter button{
    width: 30%;
    font-size: 2rem;
    box-shadow: 0;
}

::-webkit-input-placeholder {
    color: #9D9497;
    font-weight: 400;
}

footer {
    padding: 6.4rem 0;
}

footer .footer-container {

    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
}

footer .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1.2rem;
}

footer .company h1{
    font-size: 3rem;
    color: #0037D4;

    cursor: pointer;
}

footer .company p {
    font-size: 2rem;
    color: #9D9497;

    margin-top: 1.2rem;
}

footer .footer-container nav h2 {
    font-size: 2.8rem;
}

footer .footer-container nav ul li{
    list-style: none;
    margin-top: 1.2rem;
}

footer .footer-container nav ul li a{
    text-decoration: none;
    color: #9D9497;
    font-size: 2rem;
}

footer .footer-container nav ul li a:hover {
    text-decoration: underline;
}

footer .footer-social-network ul{
    display: flex;
    column-gap: 3.2rem;
}

footer .copyright {
    display: flex;
    justify-content: center;

    margin-top: 6.4rem;
}