* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100vh;
    font-family: Poppins;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
}

header, footer {
    font-family: Nunito;
}

input, button {
    border: 0;
    outline: 0;
    background: none;
}

button {
    cursor: pointer;
    background: #0037D4;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

button:hover {
    transition: .4s;
    background: #0738be;
}

header {
    background-color: #fff;
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 85px;
    
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

header .logo h1 {
    color: #0037D4;
    cursor: pointer;
    font-size: 3.6rem;
}

header nav ul {
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a {
    cursor: pointer;
    padding: 1rem 2.4rem;
    font-weight: 600;

    font-size: 2.4rem;
}

header nav ul li a:hover {
    background-color: #e7e7e7;
    transition: .5s;
}

header .buttons {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header .buttons li {
    list-style: none;
    font-size: 2rem;
    font-weight: 600;

    cursor: pointer;
}

header .buttons button {
    padding: 1.2rem 2rem;
    font-size: 1.8rem;

    box-shadow: none;
}

#text-main {
    background-color: #FFEDE9;
}

#text-main .content {

    padding-top: 3.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
} 

#text-main .content h1 {
    font-size: 5.6rem;
}

#text-main .content h3 {
    margin-top: 1.2rem;
    font-size: 2.6rem;
    
    font-weight: 500;
    color: #9D9497;
}

#text-main .content button {
    padding: 1.8rem 2.4rem;
    margin-top: 1.6rem;

    display: flex;
    align-items: center;

    font-size: 2.2rem;
    gap: 1.6rem;
}

.img {
    width: 50rem;
    margin-bottom: -5px;
    height: auto;
}

#instructors {
    background-color: #f8f8f8;
    padding: 6.4rem 0;
}

#instructors .content{
    display: flex;
    align-items: center;

    width: 90%;
    max-width: 1300px;

    margin: 0 auto;

    gap: 6.4rem;
}

#instructors h1 {
    font-size: 3.8rem;
}

#instructors h3 {
    font-size: 2.2rem;
    font-weight: 500;

    margin: 2.2rem 0;

    color: #9D9497;
}

#instructors .img-instructor {
    width: 60rem;
}

#instructors button {
    padding: 2rem 2.6rem;
    display: flex;
    align-items: center;

    font-size: 2rem;
    gap: 1.2rem;
}

#popular-courses {
    padding: 6.4rem;
}

#popular-courses .content {

    margin: 0 auto;
    max-width: 1300px;
}

#popular-courses .header-popularCourses h1 {
    font-size: 4rem;
}

#popular-courses .header-popularCourses h3 {
    font-size: 2.2rem;
    font-weight: 500;
    color: #9D9497;
    margin-top: 1.2rem;
}

#popular-courses .header-popularCourses  {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#popular-courses .header-popularCourses p {
    font-size: 2.4rem;
    font-weight: 500;
    color: #0037D4;

}

#popular-courses .header-popularCourses p:hover {
    text-decoration: underline;
    cursor: pointer;
}

#popular-courses main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 3.2rem;
    margin-top: 6.4rem;
}

#popular-courses main .box {
    width: 38rem;
    position: relative;

    overflow: hidden;
}

#popular-courses main .box img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

 #bonus {
     padding: 6.4rem;
     background: #f8f8f8;
 }

#bonus .content {
    width: 90%;
    max-width: 1300px;

    margin: 0 auto;

    display: grid;
    grid-gap: 6.4rem;
    grid-template-areas: "texts bonus";
}

#bonus .content .column-texts h1 {
    font-size: 5rem;
}

#bonus .content .column-texts h3 {
    color: #9D9497;
    font-weight: 500;
    font-size: 2.6rem;

    margin: 1.6rem 0;
}

#bonus .content .column-texts button {
    padding: 2rem 2.6rem;
    font-size: 2.2rem;
    display: flex;
    align-items: center;

    gap: 1.6rem;
}

#bonus .content .bonus {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 4.8rem;
}

#bonus .content .bonus img {
    width: 7rem;
}

#bonus .content .bonus h2 {
    margin: 0.8rem 0 1.2rem 0;
}

#bonus .content .bonus h3 {
    color: #9D9497;
    font-weight: 500;
}

#newsletter {
    padding: 6.4rem 0;
    background-color: #FFEDE9;

    text-align: center;
}

#newsletter h1{
    font-size: 4.8rem;
}

#newsletter h3 {
    font-size: 2.6rem;
    color: #9D9497;
    font-weight: 500;

    margin: 2.4rem;
}

#newsletter .newsletter {
    background: #fff;

    display: flex;
    justify-content: space-between;

    width: 50rem;
    height: 7rem;

    padding-left: 2rem;

    margin: 0 auto;

    border-radius: 0.8rem;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

#newsletter .newsletter input{
    font-size: 1.8rem;

    font-family: Poppins;
    font-weight: 500;

    width: 65%;
}

#newsletter .newsletter button{
    width: 30%;
    font-size: 2rem;
    box-shadow: 0;
}

::-webkit-input-placeholder {
    color: #9D9497;
    font-weight: 400;
}

footer {
    padding: 6.4rem 0;
}

footer .container {

    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
}

footer .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 


footer .container .company h2{
    font-size: 3rem;
    color: #0037D4;

    cursor: pointer;
}

footer .container .company p {
    font-size: 2rem;
    color: #9D9497;

    margin-top: 1.2rem;
}

footer .container .company small {
    margin-top: 4444rem;
}

footer .container nav ul li{
    list-style: none;
    margin-top: 1.2rem;
}

footer .container nav ul li a{
    text-decoration: none;
    color: #9D9497;
    font-size: 2rem;
}

footer .container nav ul li a:hover {
    text-decoration: underline;
}

footer .copyright {
    display: flex;
    justify-content: center;

    margin-top: 6.4rem;
}












